<div class="col-lg-12 p-5">
    <div class="col-lg-12">

        <div class="row">
            <h1 class=""> YOUR BALANCE IS: {{dataSource.totalBudget - dataSource.totalExpense }}</h1>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="dataSource.showDetails">
        <div class="row">
            <div class="col-lg-5 align-items-center p-all-0 m-2 budgetBox">
                <h2 class="text-light"> Income/ Budget </h2>
                <h2 class="text-success"> ${{dataSource.totalBudget}} </h2>
            </div>
            <div class="col-lg-5 align-items-center p-all-0 m-2 budgetBox">
                <h2 class="text-light"> Expense </h2>
                <h2 class="text-danger"> ${{dataSource.totalExpense }} </h2>
            </div>
        </div>
    </div>
    <div class="col-lg-12 px-4">
        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <h1 class=""> Transaction List</h1>
                </div>
                <div class="row">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let trans of dataSource.transactionList">
                            {{trans.name}}</mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>
</div>