<div class="container-fluid" style="background-color: #111111; padding: 0;">
  <nav class="navbar mainnavbar">
    <a class="navbar-brand" href="#">
      Expense Tracker App
    </a>
  </nav>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sideMenu">

      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['addExpense']" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Add Expense</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/addbudget']" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Add / Update Your Budget</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/categories']" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">View Your Spending Categories</span>
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>